@media (min-width: 800px) {
  body {
    background-color: orange;
  }
}

@media (min-width: 0px) {
  .all-button-in-portfolio {
    width: 450px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .modal-winter {
    opacity: 0;
  }
  .button-for-subscrib {
    margin-top: 20px;
  }
  .logo__button {
    margin: 10% 30%;
  }
  .logo__text {
    padding-top: 118px;
  }
  .button-fultor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .checkbox-in-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 12px;
    padding-top: 20px;
  }
  .svg-photo-in-form-labal {
    margin: auto auto;
    height: 16px;
    width: 15px;
  }
  .input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    border: none;
    width: 358px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
  .coment-in-modal {
    height: 120px;
    resize: none;
    font-family: Roboto;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
  }
  .buttom-in-form {
    width: 200px;
    height: 50px;
    background: #2196F3;
    -webkit-box-shadow: 0px 4px 4px rgba(143, 133, 133, 0.15);
            box-shadow: 0px 4px 4px rgba(143, 133, 133, 0.15);
    border-radius: 4px;
  }
  a {
    text-decoration: none;
    color: #212121;
  }
  .link-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .link-email {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .backdrop-phone__div-close {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: auto;
    top: 10px;
  }
  .backdrop-phone-link__p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
    margin-left: 50px;
    letter-spacing: 0.02em;
  }
  .close {
    width: 40px;
    height: 40px;
  }
  .features-of-our-work__menu {
    margin-left: 2%;
    text-align: center;
  }
  .logo {
    height: 400px;
    background-image: url("/images/photo-herov.jpg");
    background-size: contain;
  }
  .logo__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .item__block {
    background-color: #F5F4FA;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
  }
  .item-team {
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }
  .our-clients__menu {
    position: relative;
  }
  .input-for-subscribing {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 90%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
  }
  .item-our-clients {
    display: inline-block;
    border: 1px solid #AFB1B8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin: 30px 0px 30px 30px;
  }
  .leveling-box {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-winter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .webstudio-footor {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .modal {
    margin-left: 15px;
    margin-right: 15px;
  }
  .div-in-form-modal {
    padding-bottom: 10px;
  }
  .item-team__menu {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
  }
  .box-in-footer-two {
    margin-top: 60px;
  }
  .backdrop-phone.is-hidden-phone {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop-phone {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
  }
  .backdrop-phone > ul {
    margin-top: 50%;
    margin-left: 40px;
    top: auto;
  }
  .backdrop-phone > ul > li {
    margin-bottom: 32px;
  }
  .svg-in-footer-in-container {
    height: 44px;
    width: 44px;
    background: #44454E;
    border-radius: 360px;
    cursor: pointer;
    display: inline-block;
  }
  .input-in-footer {
    width: 100%;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    text-indent: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    outline: none;
  }
  .form-in-modal-box {
    padding: 40px;
  }
  .svg-photo-in-footer {
    height: 20px;
    width: 20px;
    margin: 12px 12px;
    fill: #fff;
    cursor: pointer;
  }
  .container-for-svg-in-footor {
    padding-top: 20px;
    display: flexbox;
  }
  .footer {
    background: #2F303A;
    text-align: center;
  }
  .item-team__h3 {
    padding: 0px 25%;
    text-align: center;
  }
  .team__menu {
    padding: 0px 15px;
  }
  .team__menu > img {
    width: 450px;
    height: 460px;
  }
  .item-team {
    border: 1px solid #000;
  }
  .our-activities > h2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 0px;
  }
  .our-activities > div {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 0px;
  }
  .item__h3 {
    padding-top: 30px;
  }
  .features-of-our-work__menu:first-child {
    padding-top: 60px;
  }
  .features-of-our-work__menu > li {
    padding-top: 30px;
  }
  .div-for-input-for-subscribing {
    margin-top: 60px;
  }
  .menu-contacts,
  .menu-navigation {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
  }
  .header {
    border-bottom: 1px solid #f1f1f1;
  }
  .header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header > div > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px;
    margin-left: auto;
  }
  .header__button-icon-phone {
    width: 40px;
    margin-left: auto;
    margin-right: 23px;
    background: #fff;
  }
  .heade-button__svg {
    width: 40px;
    height: 40px;
    margin-left: auto;
    fill: black;
  }
}

@media (min-width: 480px) {
  .features-of-our-work__menu {
    margin-left: 2%;
    text-align: center;
  }
  .logo {
    background-image: url("/images/Header img_logo-phone.jpg");
    background-size: contain;
  }
  .logo__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .item__block {
    background-color: #F5F4FA;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
  }
  .item-team {
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
  }
  .our-clients__menu {
    position: relative;
  }
  .leveling-box {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 480px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-winter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    letter-spacing: 0.03em;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .footer {
    background: #2F303A;
    text-align: center;
  }
  .item-team__h3 {
    padding: 0px 25%;
    text-align: center;
  }
  .webstudio-footor {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }
  .menu__link-in-footer-adres {
    margin-right: auto;
    margin-left: auto;
  }
  .box-in-footer-one {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
  }
  .menu__link-in-footer {
    margin-right: auto;
    margin-left: auto;
  }
  .team__menu {
    padding: 0px 15px;
  }
  .team__menu > img {
    width: 450px;
    height: 460px;
  }
  .item-team {
    border: 1px solid #000;
  }
  .our-activities {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
  }
  .item__h3 {
    padding-top: 30px;
  }
  .features-of-our-work__menu:first-child {
    padding-top: 60px;
  }
  .features-of-our-work__menu > li {
    padding-top: 30px;
  }
  .menu-contacts,
  .menu-navigation {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
  }
  .header {
    border-bottom: 1px solid #f1f1f1;
  }
  .header > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header > div > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 90px;
    margin-left: auto;
  }
  .header__button-icon-phone {
    width: 40px;
    margin-left: auto;
    margin-right: 23px;
    background: #fff;
  }
  .heade-button__svg {
    width: 40px;
    height: 40px;
    margin-left: auto;
    fill: black;
  }
  .footer-text {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-left: auto;
    padding-right: auto;
  }
  .box-in-footer-one {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

/*text*/
/*text hover*/
/*scale under text*/
/*button hover*/
/*button*/
button {
  border: none;
}

.button-for-subscrib {
  display: inline;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 49px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}

.buttom {
  margin-left: 27%;
  padding: 0px 0px 40px 0px;
}

.buttom-in-form {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(143, 133, 133, 0.15);
          box-shadow: 0px 4px 4px rgba(143, 133, 133, 0.15);
  border-radius: 4px;
}

.buttom-in-form:hover {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text-for-subscrib {
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.logo__button {
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  color: #ffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.button-fultor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  margin-right: 10px;
  padding: 6px 22px;
  height: 40px;
  color: #212121;
}

.button-fultor:focus {
  background: #188ce8;
  color: #ffff;
}

.button-fultor:hover {
  background: #2196F3;
  color: #ffff;
  cursor: pointer;
}

.menu__item-contact:hover {
  fill: #2196f3;
}

.menu__item-contact:hover > a {
  color: #2196f3;
}

.menu__link:hover {
  color: #2196f3;
  text-decoration: none;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu:hover {
  background: #2196f3;
}

.logo__button:hover {
  background: #188ce8;
}

.buy-product_list:hover {
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu__link-in-footer:hover {
  color: #2196f3;
}

.item-our-clients:hover .item-our-clients__svg-photo {
  fill: #2196F3;
  cursor: pointer;
}

.item-our-clients:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.svg-in-footer-in-container:hover {
  background: #2196F3;
}

.item-team-svg:hover {
  fill: #E3F2FE;
  background: #2196F3;
}

.buy-product_list:hover .modal-winter {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.kerstic:hover {
  fill: #3DA3F5;
}

.input-in-footer:hover,
.input-in-footer:focus {
  border-color: #2196F3;
}

.input-in-footer:hover + .svg-photo-in-form,
.input-in-footer:focus + .svg-photo-in-form {
  fill: #2196F3;
  outline: none;
}

.buttom-in-form:hover {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.input-in-footer:not(:placeholder-shown):invalid {
  border-color: red;
}

.input-in-footer:not(:placeholder-shown):invalid + .svg-photo-in-form {
  fill: red;
}

.input-in-footer:not(:placeholder-shown):valid {
  border-color: green;
}

.input-in-footer:not(:placeholder-shown):valid + .svg-photo-in-form {
  fill: green;
}

.buy-product_list:hover .modal-winter {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal-winter > p {
  margin: 63px 24px;
  font-family: Roboto;
  color: #EEEEEE;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.modal-winter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*@import './components/location-object';*/
/*header*/
img {
  width: 100%;
  height: auto;
  margin-bottom: auto;
}

.menu__svg-email {
  width: 16px;
  height: 12px;
}

.menu__svg-phone {
  width: 10px;
  height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__svg-photo {
  height: 65px;
  width: 70px;
  margin: 25px 102px;
}

.item-our-activities {
  position: relative;
}

.item-team-svg__svg-photo {
  height: 20px;
  width: 20px;
  margin: 12px 12px;
}

.item-team-svg {
  margin-left: 10px;
  fill: #AFB1B8;
  border-radius: 360px;
  cursor: pointer;
}

.item-team__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.item-our-clients__svg-photo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  margin: 16px 32px;
}

.svg-in-footer-in-container:not(:first-child) {
  margin-left: 10px;
}

.svg-photo-in-footer {
  height: 20px;
  width: 20px;
  margin: 12px 12px;
  fill: #fff;
  cursor: pointer;
}

.svg-photo-for-subcrib {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 0px;
  display: inline;
}

.svg-photo-in-form {
  height: 18px;
  width: 18px;
  position: absolute;
  margin: 12px -430px;
}

.kerstic {
  height: 18px;
  width: 18px;
  position: absolute;
  margin: 6px 6px;
  background: #FFFFFF;
}

.icon {
  border: 2px solid #2a2a2a;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  fill: #afb1b8;
}

.input:checked + .icon {
  width: 16px;
  height: 15px;
  border-color: #2196F3;
  background-color: #2196F3;
}

/*header*/
.header__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  padding: 25px;
}

.header__text {
  color: #2196f3;
  text-decoration: none;
}

.menu__link {
  position: relative;
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  margin-right: 50px;
  font-weight: 500;
}

.menu__link:focus,
.menu__link:hover {
  color: #2196f3;
  text-decoration: none;
}

.menu__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 45px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 360px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact {
  font-family: Roboto;
  font-style: normal;
  margin-right: 30px;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 10px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*main*/
/*logo*/
.menu__contact:focus {
  color: #2196f3;
  text-decoration: none;
}

.logo__text {
  margin: 0 auto;
  max-width: 650px;
  color: #fff;
  margin-bottom: 30px;
}

.logo__button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.none {
  display: none;
}

.item__h3 {
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item__p {
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

/*our-activities*/
.our-activities__heading,
.team__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 42px;
}

.item-our-activities__text {
  position: absolute;
  bottom: 2px;
  color: white;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.item-our-activities__text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 27px;
}

.item-team__h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  padding-top: 30px;
}

.item-team__p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

/*our-clients*/
.our-clients__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}

/*footer*/
.footer-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: none;
}

.menu__link-in-footer-adres {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.menu__link-in-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.menu__link-in-footer:focus {
  color: #2196f3;
}

.menu__link-in-footer:hover {
  color: #2196f3;
}

.box-in-footer-two > h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px;
}

.text-for-input-in-footor {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 15px;
}

.h3-in-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.p-in-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.p-in-moda {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

.buttom-in-form > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.modal-winter > p {
  margin: 63px 24px;
  font-family: Roboto;
  color: #EEEEEE;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.photo-buy {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-left: 24px;
}

.photo-buy-information {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-left: 24px;
  margin-top: 4px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */