button {
    border: none;
}


.button-for-subscrib {
    display: inline;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 49px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin-left: 12px;
}

.header__button-icon-phone {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;

}

.buttom {
    &-in-form {
        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(143, 133, 133, 0.15);
        border-radius: 4px;

    }

    &-in-form:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    margin-left:27%;
    padding: 0px 0px 40px 0px;

}

.text-for-subscrib {
    display: inline;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;


    letter-spacing: 0.06em;

    color: #FFFFFF;

}

.logo__button {
    background: #2196f3;
    cursor: pointer;
    border-radius: 4px;
    color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}

.button-fultor {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    margin-right: 10px;
    padding: 6px 22px;
    height: 40px;
    color: #212121;
}

.button-fultor:focus {
    background: #188ce8;
    color: #ffff;
}

.button-fultor:hover {
    background: #2196F3;
    color: #ffff;
    cursor: pointer;
}