/*text*/
$other-text:Raleway;
$font_family:Roboto;
$color_text:#212121;
$side-text:#757575;
/*text hover*/
$color-text_hover:#2196f3;
/*scale under text*/
$color-under-line:#2196f3;
/*button hover*/

/*button*/
$button-color: #2196F7;
$button-hover_color:#188CE8;

