@media(min-width: 767px) and (max-width:1023) {
.logo{
    
    background-image: url(/images/photo-herov-tablet.jpg);
   
   
}
.menu-navigation{
    flex-direction: column;   
}
.header {
    &__manu{
        padding: 32px;
    }
    & > div{
       
        display: flex;
        flex-direction: row;
    }
    border: 1px solid #f1f1f1;
}
.sales-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left:15px;
}
.logo__button{
 margin: 10% 35%;
}
.svg-photo-in-form {
    height: 18px;
    width: 18px;
    position: absolute;
    margin: 12px -390px;
}
.svg-photo-in-form-labal{
    margin-left: 60px;
}
.all-button-in-portfolio{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.buy-product_list:nth-child(2n){
    margin-left: 30px;
}
.menu-contacts{
    margin-top: 20px;
}
.item-team{
    width: 270px;
    height: 428px;
}
.item-our-clients{
    width: 226px;
height: 92px;
}
.box-in-footer-one{
    margin-right: 165px;
}
.alignment-to-line{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}
.menu__item-contact:not(:first-child){
margin-top: 10px;
}
.menu-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
    margin-left: auto;
}
.our-clients__menu{
    margin-left: auto;
    margin-right: auto;
}
.features-of-our-work__menu{
    display: flex;
    flex-wrap: wrap;
}
.features-of-our-work__menu > li{
    width: 354px;
    height: 251px;
    margin-left: 30px;
}
.item__block{
    width: 354px;
height: 120px;
}

.team__menu{
    display: flex;
    flex-wrap: wrap;

}
.team{
    margin-top: 60px;
}































}
    