*{
    align-items: center;
    text-align: center;
}
p{
    text-align: start;
}
.backdrop{display: none;}

.backdrop-phone.is-hidden-phone{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 250ms;
}
.backdrop-phone{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 250ms;
}
.item-team{
    border: 1px solid;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.item-team__menu{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.our-activities__heading{
    display: none;
}
.item-our-activities > img{
    width: 100%;
}
.our-activities__heading{
    width: 0px;
    position: absolute;
}
.our-activities{
    width: 0px;
}
.our-clients__menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.features-of-our-work__menu > li{
    margin-top: 30px;
}
.team{
    margin-top: 60px;
}
.footer{
    background: #2F303A;
}

header > div > ul{
display: none;
width: auto;
}
.logo{
    background-image: url('/images/Header img_logo-phone.jpg');
}
.our-activities {
    position: absolute;
    visibility:visible;
    pointer-events: none;
    opacity: 0;
}
.logo__button{
    margin-left: auto;
   
}
.item__h3{
    margin-top: 30px;
}
.features-of-our-work__menu{
    margin-top: 60px;
}
.item__block{
    background: #F3F2F8;
    border-radius: 4px;
    height: 120px;
}
.features-of-our-work{
    text-align: center;
}
.header__button-icon-phone{
   margin: 15px;
    
}
.header{
  
     border-bottom: 2px solid black ;
    
 }
.header__link2{
    display:none ;
}
 .header .nav{
     display: flex;
     align-items: center;
    justify-content: space-between;
    min-height: 80px;
     
 
 }
 .address{
     width: max-content;
     margin-right: auto;
     margin-left: auto;
 }
 .webstudio-footor{
     margin-right: auto;
     margin-left: auto;
     width: max-content;
    
 }

 .header__button-icon-phone{
     display: inline-flex;
     margin-left: auto;
     width: auto;
     padding: 0;
     border: none;
     background-color: transparent;

 }
 
 .header__button-icon-phone .icon-cross{
     display: none;
 }
 .header__button-icon-phone.is-open .icon-cross{
     display: block;
 }
 .header__button-icon-phone.is-open .icon-menu{
     display: none;
 }
 .header__link{
     font-family:Raleway;
     font-style: normal;
     font-weight: bold;
     font-size: 26px;
     
     
 }
 @media screen and (min-width:480px){
 .container{
     width: 480px;
     padding-right: 15px;
     padding-left: 15px;
     margin-left: auto;
     margin-right: auto;
 }
.logo{
    width: 480px;
    
    margin-left: auto;
    margin-right: auto;
}
.header{
    margin-left: auto;
    margin-right: auto;
    width: 480px;
   
}
}
 .item-our-clients{
    width: calc(100% - 230px);

     border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
margin: auto ;
margin-top: 10px;

 }
 .nav{
     width: auto;
}

 .container-for-svg-in-footor{
     display: flex;
     margin-left: auto;
     width: max-content;
     margin-right: auto;
 }
 .text-for-input-in-footor{
     width: max-content;
     margin-left: auto;
     margin-right: auto;
 }
 
 .input-for-subscribing{
    border: 1px solid #ffffff4d;
background-color: rgba(255, 0, 0, 0);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

margin-left: 15px;
margin-right: 15px;
height:50px ;
 }
 .div-for-input-for-subscribing{
     display: block;
 }
.button-for-subscrib{
    margin-top: 20px;
}